/* Empty. Add your own CSS if you like */

/*DARK PRIMARY COLOR #512DA8*/
/*primary color #673AB7*/


.bar.bar-stable{
	background-color: #512DA8;
	border-color: #512DA8;
}

.bar .buttons span, 
.back-text, 
.bar-stable .button.button-icon, 
.bar.bar-stable .title,
.ion-ios-arrow-back{
	color: #FFFFFF;
}

.has-header{
    background-color: #ddd;
}



.comment-date{
    font-size: 12px;
    color: lightgray;
    display: inline-block;
    float: right;
    margin: 0;
}

.comment-number{
    display: inline-block;
    float: left;
    
}

.comment-title{
	font-size: 20px!important;
	margin-bottom: 6px!important;
	color: #673AB7!important;
}

.anony-comment{
	background-color: white;
	box-shadow: 1px 1px 10px -3px black;
}

.item-content{
	white-space: none;
}

.item-complex .item-content, .item-radio .item-content{
	padding: 12px;
}
.item-content p{
	white-space: none;
}

.item-input{
	margin: 8px;
	border-radius: 30px;
}
	.btn-comment{
		
		width: 45px;
		height: 45px;
		border-radius: 90px;
		margin-right: 5px;
		padding: 0;
		min-width: 45px;
		min-height: 45px;
		box-shadow: 1px 1px 10px -3px black!important;
		border: none;
		color: white;
		font-weight: bolder;
		background-color: #FF5722;
	}


.breadcrumb{
	background-color: #512DA8;
	width: 100%;
	padding: 10px;

}

.breadcrumb li{
	display: inline-block;
    height: 30px;
    margin: 2px;

}

.breadcrumb a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    padding: 4px;
    background-color: purple;
    border-radius: 5px;
    margin: 2px;
}

.breadcrumb p{
	display: inline-block;
    padding-left: 4px;
    border-radius: 10px;
    margin: 0;
    color: white;
    font-weight: bolder;
    
}
